body {
    background: #abcbc8;
}

header {
    background: #abcbc8;
}

footer {
    background: #2d5a71;
}

#logo {
    width: 320px;

}

#title {
    width: 320px;
}

.download-badge {
    /*width: 256px;*/
    height: 64px;
}